<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523627442177-onsjebsvpmn8l7j63d8k83ge0bcmijip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523627442177-onsjebsvpmn8l7j63d8k83ge0bcmijip</string>
	<key>API_KEY</key>
	<string>AIzaSyCG8NCwudGtuCVbECHOVlpuzhPTmIJLBtE</string>
	<key>GCM_SENDER_ID</key>
	<string>523627442177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mindprober.LibriVox</string>
	<key>PROJECT_ID</key>
	<string>librivox-d7d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>librivox-d7d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523627442177:ios:b6cbb26d56decc54429000</string>
</dict>
</plist>